$main-menu-height: calc((4 * 0.5rem) + 1.5rem);

.demo-nav {
  position: sticky !important;
  height: calc(100vh - #{$main-menu-height});
  top: $main-menu-height;
  z-index: 1020;
  background: white;
}

.bd-navbar {
  background: black;
}
